streamlit == 1.37.1
torch == 2.4.0
transformers == 4.42.4
numpy == 1.26.4
scipy == 1.14.0
plotly == 5.23.0
tf-keras==2.17.0
SpeechRecognition==3.10.4
spacy==3.7.6
nltk==3.9.1
rake_nltk==1.0.6
langchain_text_splitters==0.2.2
openai-whisper==20231117
faiss-cpu
langchain_community
ctransformers
langchain-community